<ion-content padding>
    <ion-item color="dark">
        <ion-label>Rest Duration</ion-label>
        <ion-datetime display-format="mm:ss" placeholder="Tap here" [(ngModel)]="fullTime"></ion-datetime>
    </ion-item>
    <div style="height:60%;width:100%;">
        <circle-progress (click)="startTimer()" [percent]="percent" [radius]="radius" [showTitle]="false" [showSubtitle]="false" [showUnits]="false" [outerStrokeWidth]="16" [outerStrokeColor]="'#8000FF'" [showZeroOuterStroke]="false" [backgroundStroke]="'#33003F'"
            [outerStrokeGradient]="true" [outerStrokeGradientStopColor]="'#FF00CB'" [showInnerStroke]="false" [backgroundStrokeWidth]="3"></circle-progress>
    </div>

    <p>{{elapsed.h}}:{{elapsed.m}}:{{elapsed.s}}</p>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ng-container *ngIf="timer == false ; else running">
            <ion-fab-button (click)="startTimer()">
                <ion-icon name="play"></ion-icon>
            </ion-fab-button>

        </ng-container>
        <ng-template #running>
            <ion-fab-button (click)="stopTimer()">
                <ion-icon name="square"></ion-icon>
            </ion-fab-button>

        </ng-template>
    </ion-fab>
</ion-content>